<div class="login-container">
    <div class="login-content">
        <mat-toolbar class="login-toolbar" color="primary">REGISTER</mat-toolbar>
        <mat-card>

            <form [formGroup]="forgotForm" #formDirective="ngForm" (ngSubmit)="onSubmit(forgotForm, formDirective)">
                <mat-form-field>
                    <mat-icon matPrefix>email</mat-icon>
                    <input autofocus type="email" matInput placeholder="Email *" formControlName="email">
                    <mat-error *ngIf="checkValidation('email')">
                        {{ emaiErrors() }}
                    </mat-error>
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary">Reset Password</button>
                <br>
                <br>
                <br>
                <mat-divider></mat-divider>
              
            </form>
            <div align="end" class="signIn-signUp">
                <a class="flex-item" mat-flat-button color="primary"  routerLink='/signIn'>Sign In</a>
                <a class="flex-item" mat-flat-button color="accent"  routerLink='/signUp'>Sign Up</a>
            </div>
        </mat-card>
    </div>
</div>