<div class="login-container">
    <div class="login-content">
        <mat-toolbar class="login-toolbar" color="primary">Recipe Book</mat-toolbar>
        <mat-card>
            <form [formGroup]="loginForm" #formDirective="ngForm" (ngSubmit)="onSubmit(loginForm, formDirective)">
                <mat-form-field>
                    <mat-icon matPrefix>person_outline</mat-icon>
                    <input autofocus type="text" matInput placeholder="Username" formControlName="email">
                    <mat-error *ngIf="isFieldInvalid('email')">
                        Please inform your user name
                      </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="password">
                    <mat-error *ngIf="isFieldInvalid('password')">
                        Please inform your password
                    </mat-error>
                </mat-form-field>
                    <mat-checkbox class="example-margin">Remember Me</mat-checkbox>
    
                <button type="submit" mat-raised-button color="primary">LOGIN</button>
                <div class="forget-password">
                    <a routerLink="/forgetPassword">forgot Password ?</a>
                </div>
            </form>
            <mat-toolbar class="login-toolbar" style="background-color:white">login with</mat-toolbar>
            <div class="socialMediaFlex">
                <button mat-fab color="primary"><i class="fab fa-facebook-f"></i></button>
                <button mat-fab color="accent"><i class="fab fa-google"></i></button>
            </div>
            <br>
            <div class="register-here">
                <span> If You don't have a account yet please<br/> <a routerLink='/signUp'>Register Here</a></span>
            </div>
            
        </mat-card>
    </div>

</div>
